# Normalize line endings
* text=auto

# Force LF for code files (best for Flutter)
*.dart text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.xml text eol=lf
*.md text eol=lf

# Windows-specific files
*.bat text eol=crlf